#home{
    height: 200px;
    text-align: center;
}
#home::before{
    content: "";
    background: url('../../components/img/bg-1.jpg') no-repeat center center/cover;
    position: absolute;
    top:0px;
    left:0px;
    height: 503px;
    width: 100%;
    z-index: -1;
    opacity:1;
}
h1{
    color: rgb(194, 34, 34);
    margin-top: 5rem;
}