#home{
    text-align: left;
}
#home::before{
    content: "";
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:1;
}
h1{
    color: rgb(194, 34, 34);
    margin-top: 5rem;
}