.main{
    text-align: center;
}
#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 42.8rem;
}
#home::before{
  content: "";
  background: url('../../components/img/bg-1.jpg') no-repeat center center/cover;
  position: absolute;
  top:0px;
  left:0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity:0.79;
}
h1{
    color: #e2de00;
    margin-bottom: 7rem;
    margin-top: 13.2rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    font-size: 52px;
}
#type{
    margin-top: 14px;
}
.text-type{
    color: rgb(247, 47, 97);
    font-size: 2rem;

}

/* ---------------------------------Testimonial section------------------------------- */

