/* --------------------------------------mission----------------------------------- */
#our-mission{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 42rem;
    width: auto;
}
#our-mission::before{
    content: "";
    background: url('../../components/img/bg-2.webp') no-repeat center center/cover;
    position: absolute;
    top:0px;
    left:0px;
    height: 45rem;
    width: 100%;
    z-index: -1;
    opacity:0.79;
}
#our-mission #first{
    margin-top: 5rem;
    font-size: 6rem;
    color: rgb(255, 255, 0);
}
#our-mission #firstp{
    text-align: center;
    width: 59rem;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-weight: bold;
    margin-top: 8rem;
}

/* --------------------------------------vision--------------------------------------- */

#our-vission{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 42.8rem;
}
#our-vission::before{
    content: "";
    background: url('../../components/img/bg-5.jpg') no-repeat center center/cover;
    position: absolute;
    top: 32%;
    left:0px;
    height: 45rem;
    width: 100%;
    z-index: -1;
    opacity:0.79;
}
#our-vission p{
    text-align: center;
    width: 59rem;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-weight: bold;
    margin-top: 28rem;
}

/* --------------------------------------My team------------------------------ */

#my-team{
    text-align: center;
    background-color: rgb(255, 235, 235);
}
#t{
    font-size: 4rem;
    color: rgb(255, 127, 112);
}
.team{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 2px;
}
.a{
    font-size: 30px;
    font-family: cursive;
    color: rgb(236, 95, 40);
}