
*{
    margin: 0px;
    padding: 0px;
}
.s{
   color: antiquewhite;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.g{
    color: crimson;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 42.8rem;
}
#contact::before{
        content: "";
        background: url('../../components/img/bg-contact.jpg') no-repeat center center/cover;
        position: absolute;
        top:0px;
        left:0px;
        height: 50rem;
        width: 100%;
        z-index: -1;
        opacity:1;
}
#contact>h1{
    color: rgb(136, 89, 89);
    font-size: 3rem;
    font-weight: bold;
    margin-top: 28px;
}
#form{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5.2rem;
}
.form-control{
    margin-top: 2rem;
}
.form-control input{
    outline: none;
    background: none;
    color: white;
    border: none;
    width: 16rem;
    font-size: 1rem;
    border-bottom: 2px solid magenta;
}
.form-control small{
    display: block;
    color: rgb(221, 73, 73);
    margin-top: 2px;
    font-weight: bold;
}
.btn{
    outline: none;
    margin-top: 1rem;
    padding: 0rem;
    border-radius: 9px;
    border: 1px solid black;
    width: 5rem;
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
    color: rgb(252, 135, 135);
    font-size: 1.2rem;
}
.btn:hover{
    color: rgb(92, 4, 58);
    background-color: whitesmoke;
}