@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

body {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background-color: rgba(198,206,201,0.5); */
  font-size: 16px;
}
.showcase
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
    box-shadow: 20px;

}

.blog-card {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2),
              -1px -1px 10px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  margin: 2vh;
}
.bimg{
  margin-top: 8px;
  margin-left: 8px;
  height: 250px;
  box-shadow: 2px 4px 8px 0 rgba(233, 134, 134, 0.2),
              -1px -1px 10px 0 rgba(215, 236, 137, 0.2);
  width: 300px;
}

.header {
  background-color: #5A80B4;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.category {
  margin: 0;
  padding: 1vw;
  color: #fff;
  font-size: 1em;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  text-transform: uppercase;
}

.picture-wrapper {
  height: 300px;
  width: 100%;
  background-size: cover;
}

.text-wrapper {
  font-family: sans-serif;
}

.title {
  font-size: 1.25em;
  font-family: cursive;
  font-style:inherit;
  padding: 6vh 4vh 2vh 4vh;
}

.author {
  font-size: 0.75em;
  padding-left: 4vh;
  font-style: italic;
}

.text {
  font-size: 1em;
  font-family: cursive;
  padding: 4vh 4vh;
}

.hover {
  font-size: 1.5625em;
}


@media screen and (min-width: 700px) {
  .blog-card {
    width: 600px;
  }

  .content {
    display: flex;
    flex-direction: row;
  }
    
  .picture-wrapper {
    height: auto;
    width: 60%;
    border-bottom-left-radius: 10px;
  }

  .title {
    padding-right: 10vh;
  }
}