#back{
    
    background-image: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);}

.showcase
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
    box-shadow: 20px;

}
.blog-card:hover{
    transform: scale(1.04);
    box-shadow: 0 12px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
      
}